button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-1qzirfr-MuiButtonBase-root-MuiIconButton-root{
    margin-left: 0px;
    margin-right: 80px;
}
.css-s7m92n-MuiTypography-root {
    padding-left: 25% !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    width: 190px;
}


span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
    color: #3c84b1;
}